.custom-hide-2 {
  max-height: 0;
  overflow: hidden;
  transition: all 0.1s ease-in-out;
}

.custom-show {
  max-height: 2000px;
  transition: all 0.1s ease-in-out;
}

.custom-hover:hover {
  cursor: pointer;
}

.custom-main {
  padding-bottom: 100px;
}


@media only screen and (min-width:802px) {
  .custom-accordion {
    width: 800px;
    margin: auto;
  }
}

@media only screen and (max-width:600px) {}
@media only screen and (max-width:991px) {}
