.custom-hide-2 {
  max-height: 0;
  overflow: hidden;
  transition: all 0.1s ease-in-out;
}

.custom-show {
  max-height: 2000px;
  transition: all 0.1s ease-in-out;
}

.custom-hover:hover {
  cursor: pointer;
}

.custom-main {
  padding-bottom: 350px;
}

.custom-accordion {
  width: 800px;
}
